# Build results
/Debug
/Debug64
/Release
/Release64
/bin

#MIDL output
*_dlldata.c
*_p.c
*_i.c
*_h.h
*_i.h

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
