/Debug
/Debug64
/Release
/Release64

analyzer_dlldata.c
analyzer_i.c
*.sdf
ipch
*.opensdf
/bin
*.suo
*.aps
/analyzer_h.h
/analyzer_i.c
/analyzer_p.c
/analyzer_dlldata.c
/dump_h.h
/dump_i.c
/dxva_null_h.h
/dxva_null_i.c
/time_measure_p.c
/psiconfig_h.h
/psiconfig_i.c
/time_measure_dlldata.c
/time_measure_h.h
/time_measure_i.c
/*.user
